<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>Job Interview</title>
  <meta name="Job" content="Job Interview">
  <meta name="Interview" content="job Interview">
</head>

<body>
  <div class=" ">
    <div>
      <h2><strong>Appearing for Job Interview</strong></h2>
    </div>
  </div>

  <div class=" " style="padding-left: 10px; font-family: Meiryo UI;">

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">I have seen people have fear about appearing for Job Interview and it is not limited to only job it's for everything</font>
    </div>
	<div>
      &nbsp;
    </div>
    <div>
      <font color="#333333">Here I just want to share my thoughts with you based on my experience and Knowledge.</font>
    </div>
	<div>
      &nbsp;
    </div>
	<div>
      <font color="#333333">You must have heard about a phrase <font color="#31B404">'To defeat the fear you have to face the fear'. </font> But it's very easy to say that face the fear right? How to face them? How we can overcome from this?</font>
    </div>
	
    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>
    <div>
      <font color="#333333">So the very simple and basic solution to overcome from the fear is knowledge it is the power which can help you in facing the fear. Gain knowledge in your field, as you gain more knowledge in your field/technologies. you will see you are winning over the fear and gradually you will be noticing that there are no fears.</font>
    </div>
	 <div>
      &nbsp;
    </div>
	<div>
      <font color="#333333">Knowledge is very basic thing in boosting up your confidence. If you have knowledge, you can easily talk and do a wonderful discussion on it.</font>
    </div>
	<div>
      &nbsp;
    </div>
    <div>
      <font color="#333333" size="3"><b>Few points in brief for attending Interviews with full of confidence:</b></font>
    </div>
	
  </div>

 
 <div>
      &nbsp;
    </div>
	<div style="padding-left: 10px; font-family: Meiryo UI;">
		<div>
		<font color="#333333" size="4"> <b>Resume matching your Skill sets:</b> </font>
		</div>
		<div >
		 <font color="#333333">Your resume should talk only about your technical skills you have actually worked on adding multiple technologies will help you in getting call but it will not guarantee you in clearing the Interviews also at some point in your heart you will go with fear. And you know, if you have fear then you are increasing the percentage of disqualifying the Interview. </font>
	  </div>
	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Research about the employer:</b> </font>
		</div>
		<div >
		 <font color="#333333">Go through the employer website, it will help you understanding what kind of work company is doing and where you are going to fit there. Also it will give you few points for asking questions about organization.</font>
	  </div>
	  
	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Prepare for Common Interview Questions:</b> </font>
		</div>
		<div >
		 <font color="#333333">Prepare yourself with Common interviews Questions apart from technical questions. <br>
		 Common question are:
		 <ul>
			<li> Why You want change the Job?</li>
			<li> Why you? Why not others?</li>
			<li> If you have switched many companies, then be ready for answering why you so many Job switching?</li>
			<li> What is your strength or Weakness?</li>
			<li> What qualities do you have? </li>
			<li> What makes you upset at work? How do you handle these situations? </li>
			<li> Do you consider yourself successful? </li>
			<li> Tell me a moment which you have done ( Related to your Job only dude :) ) and you feel proud of that? </li>
		 </ul> 
		 There are so many question, I will try to come up with new article with all these questions and Answers soon.
		 </font>
	  </div>
	  <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Sharpen Your skills:</b> </font>
		</div>
		<div >
		 <font color="#333333">Sharpen your understanding on basics concepts and other skill set as per your Resume. I am from IT so I can give example of that e.g.
		 <ul>
			<li> OOps Concepts.</li>
			<li> Basic understanding of different data structures.</li>
			<li> Practice for solving some small problem, because few companies ask problem for qualifying Interviews. You can practice for such problems from <a href="https://codility.com/" target="_blank"> Codility </a> or <a href="https://www.hackerrank.com/" target="_blank"> Hacker Rank </a> There are N number of sites you just need to google it around.</li>
		 </ul> 
		 </font>
	  </div>
	  
	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Better Understanding of your Project/Assignments:</b> </font>
		</div>
		<div >
		 <font color="#333333">Before appearing for interviews, You must have better understanding about your recent Project/Assignments. <br> 
		 Following questions asked on Projects:
		 <ul>
			<li> Functional side of your Project?</li>
			<li> Architecture of your application, Explain the Architecture?</li>
			<li> What Technology stacks? Why you are using certain technology in your Project.</li>
			<li> What different Design patterns You have used in your Project? Why and How does it solving the Business problem etc.</li>
		 </ul>
		 </font>
		 
	  </div>
	  
	  <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Be on Time:</b> </font>
		</div>
		<div >
		 <font color="#333333">Be available on time before 10-15 min of the scheduled time. Don't be so early as well because it create pressure on Interviewer that You are waiting from long time and he/she might be busy in some on important assignments, this could be disturbing for him.</font>
	  </div>

	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Well Dressed:</b> </font>
		</div>
		<div >
		 <font color="#333333">Prefer going in formal. Some companies follow casual as well, If you are going in casual make sure you are not in  very casual :).  </font>
	  </div>
	  
	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Confidant and Enthusiastic:</b> </font>
		</div>
		<div >
		 <font color="#333333">Be Confident and Answer question with Enthusiastically. Make sure you are not over enthusiasts :).  </font>
	  </div>
	  
	  <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Answer specific to the Question:</b> </font>
		</div>
		<div >
		 <font color="#333333">Your answer must be specific to the question asked by the Interviewer, try answering with Example. But don't try to over exaggerate your answer. Make sure that your answer is not going  very long.</font>
	  </div>
	  
	  <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Ask Questions:</b> </font>
		</div>
		<div >
		 <font color="#333333">If given chance for asking any question, make sure you are asking some questions. <br> You can ask Following Questions:
		  <ul>
			<li> Is this discussion is specific to any Project?</li>
			<li> What technology stacks you are using in your Project?</li>
			<li> What will be my role in this Project? If Things went fine.</li>
			<li> For first 30 days, what kind of expectations are from me, if I get chance working with this Organization/Project.</li>
			<li> How generally you/organization evaluate new Joiner? etc.</li>
		  </ul>
		 </font>
	  </div>
	  
	  <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  <div>
		<font color="#333333" size="4"> <b>Communication:</b> </font>
		</div>
		<div >
		 <font color="#333333">Work on your communication. Able to answer some tricky questions.
		 </font>
	  </div>
	  
	  
	  <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
	  
	  <div  class=" " style="font-family: Meiryo UI;">
		 Keep Reading and Keep learning.
	  </div>
	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
  
	   <div align="center" class=" " style="font-family: Meiryo UI;">
		&nbsp;
	  </div>
   </div>
  
  
</body>
</html>
