<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>Understanding DOM/BOM</title>
  <meta name="JavaScript" content="DOM- Document Object Model and BOM - Browser Object Model">
  <meta name="javascript" content="DOM- Document Object Model and BOM - Browser Object Model">
  <meta name="html" content="DOM- Document Object Model and BOM - Browser Object Model">
  <meta name="css" content="DOM- Document Object Model and BOM - Browser Object Model">
</head>

<body>
  <div class=" ">
    <div>
      <h2><strong>Understanding Concept of Document and Browser Object Model</strong></h2>
    </div>
  </div>

  <div class=" " style="padding-left: 10px; font-family: verdana;">
    <div>
       <font color="#333333"> </font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">While working with UI (i.e HTML and JavaScript) you always be hearing the concept of DOM and BOM keywords, so let's explore it</font>
    </div>

    <div>
      &nbsp;
    </div>
	
	 <div>
      <font color="#333333">BOM contains reference to an open browser and helps you to play with browser.</font>
    </div>

    <div>
      <font color="#333333">Browser Object Model contains following object:</font>
    </div>
    <div>
		 <font color="#333333">
			<ul>
				<li> Window </li>
				<li> Navigator </li>
				<li> Screen </li>
				<li> History </li>
				<li> Location </li>
			</ul>
		 </font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">To know more about Browser Object Model and their objects refer <a href="http://www.w3schools.com/jsref/obj_window.asp" target="_blank"> w3school </a> site.</font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">Another concept is DOM - Document Object Model. In HTML DOM everything is Node:</font>
    </div>
	
	<div>
      <font color="#333333">
	  <ul> 
		<li> document object itself is a document node</li>
		<li> All HTML elements are element nodes</li>
		<li> All HTML attributes are attribute nodes</li>
		<li> Text inside HTML element are text nodes</li>
		<li> Comments are comment nodes</li>
	  </ul>
	  
	  </font>
    </div>
	<div class=" " style="font-family:verdana;">
		&nbsp;
	</div>

	<div>
      <font color="#333333">When an HTML document loaded into a browser, becomes a document object. The document object is the root node of the HTML document and the owner of all other nodes. And within JavaScript, document object have different properties and methods which helps us to access all nodes of the HTML document.<br><br>
	  <b>Note**:</b> document object is property of window object and can be accessed as window.document.
	  </font>
    </div>
	<div class=" " style="font-family: verdana;">
		&nbsp;
    </div>

	 <div>
      <font color="#333333">To know more about Document Object Model refer <a href="http://www.w3schools.com/jsref/dom_obj_document.asp" target="_blank"> w3school </a> site.<br>
	  
	  w3school is best site to start with, if you are new to HTML, JavaScript concept. </font>
    </div>

	<div class=" " style="font-family:verdana;">
		&nbsp;
    </div>

	 <div>
      <font color="#333333">Keep Reading Keep Learning.</font>
    </div>
	
	<div class=" " style="font-family: verdana;">
    &nbsp;
  </div>


  <div align="center" class=" " style="font-family: verdana;">
    &nbsp;
  </div>
  
  </div>
  
</body>
</html>