<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>ECMA</title>
  <meta name="JavaScript" content="ECMA">
  <meta name="javascript" content="European Computer Manufacturer's Association">
  <meta name="html" content="ECMA">
  <meta name="css" content="ECMA">
</head>

<body>
  <div class=" ">
    <div>
      <h2><strong>ECMA (European Computer Manufacturer's Association)</strong></h2>
    </div>
  </div>

  <div class=" " style="padding-left: 10px; font-family: verdana;">
    <div>
      <font color="#333333"></font> <font color="#333333">ECMA (European Computer Manufacturer's Association) is a Standard for a scripting languages. JavaScript is based on the ECMAScript standard. ECMA Standard is based on several originating technologies (e.g. JavaScript (Netscape) and JScript (Microsoft)).</font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">JavaScript is Standardized at <a href="http://www.ecma-international.org/" target="_blank">ECMA International</a> for standardizing information and communication systems to deliver a standardized, international programming language based on JavaScript. This standarized version of JavaScript, called ECMAScript, behaves the same way in all applications that support the standard. Companies must follow ECMA Standard to develop their implementation of JavaScript.
	  </font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">ECMAScript specification is a set of requirements for implementing ECMAScript. JavaScript, JScript and ActionScript languages are based on ECMAScript specification.</font>
    </div>
	<div>
      &nbsp;
    </div>
    
  </div>
</body>
</html>
