<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>Progressive Enhancement</title>
  <meta name="JavaScript" content="Progressive Enhancement">
  <meta name="javascript" content="Progressive Enhancement">
  <meta name="html" content="Progressive Enhancement">
  <meta name="css" content="Progressive Enhancement">
</head>

<body>
  <div class=" ">
    <div>
      <h2><strong>Progressive Enhancement</strong></h2>
    </div>
  </div>

  <div class=" " style="padding-left: 10px; font-family: verdana;">
    <div>
      <font color="#333333">I</font> <font color="#333333">want to discuss here basic and fundamental concepts, which every front-end developer must know i.e. Progressive
      Enhancement. Unkowingly you might be following this pattern in your day to day works.</font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">So let's talk about it.</font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">When we design any website what should be our focus whether it should be Behavior, Presentation or Content? What do you think?</font>
    </div>

    <div>
      <font color="#333333">If you are thinking about Presentation or behavior then you are on wrong direction.</font>
    </div>

    <div>
      <font color="#333333">User visits&nbsp;any website for content not for any fancy UI.</font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">So in simple word Progressive enhancement is functional sepration between HTML, JavaScript and CSS. It is layered approach to Web Design where more focus needs to be given
      on content, the user and accesability. The first step is to keep your HTML, CSS and JavaScript seprated, these layers are refered as a Structure, Presentation and behavior respectivily.</font>
    </div>

    <div>
      &nbsp;
    </div>

    <div>
      <font color="#333333">So our first focus should be on the content, marked your content with meaningful HTML. After the content is properly marked up, you can move to presentation layer. On the
      presentation layer we deal with CSS. The third layer of the Progressive enhancement is behavior where we spend lot of time because it is the place where we use JavaScript.</font>
    </div>
    <div class=" " style="font-family: verdana;">
    &nbsp;
    </div>
    <div class=" " style="font-family: verdana;">
    Below Image has been taken from book "Learning JavaScript" by Tim Wright.
    </div>
  </div>

  <div class=" " style="font-family: verdana;">
    &nbsp;
  </div>
  
  
  <p align="center" class=" " style="font-family: verdana;"><img src="../../images/progressive.png"></p>

  <div align="left">
    &nbsp;
  </div>

  <div class=" " style="font-family: verdana;"></div>

  <div align="center" class=" " style="font-family: verdana;">
    &nbsp;<font face="Microsoft JhengHei" size="2">Graphical Represenation of Progressive Enahncement</font>
  </div>

  <div align="center" class=" " style="font-family: verdana;">
    &nbsp;
  </div>

  <div class=" " style="font-family: verdana;">
    <strong>Here are different benifts with Progressive Enhancement Design:</strong>
  </div>

  <ul>
    <li>
      <div class=" " style="font-family: verdana;">
        Maintenance is easier. Eventhough your code are seprated with each other but they are Integrated. Making changes in any layers with this approach is much easier.
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <div class=" " style="font-family: verdana;">
        Keeping layer seprated raises reusabilty factor. You can reuse the same code again and again in your website and it is easier to extract and reuse part of your CSS and
        javascript logic for other project which has related features or functionality.
      </div>
    </li>
  </ul>

  <ul>
    <li><font face="verdana">&nbsp; Accesability of your website get increased.&nbsp;&nbsp;</font></li>
  </ul>

  <p><font face="verdana">That's all about Progressive Enhancement concept. Soon I will come up with new topics and concept.</font></p>

  <div class=" " style="font-family: verdana;">
    <div>
      &nbsp;
    </div>

    <div>
      &nbsp;
    </div>
  </div>
</body>
</html>