.one{
	Width:150px;
    border: 1px solid #f9f2ec;
    background-color: Chocolate;
}
.two{
	Width:100px;
	border: 1px solid  #f9f2ec;
	margin-top: 5px;
	background-color: CadetBlue;
    margin-bottom: 10px;
    margin-right: 20px;
}

.three{
	Width:75px;
	Height: 30px;
	background-color: Azure;
    border: 1px solid  #f9f2ec;
    list-style-type: none;
    margin: 10px;
}

